body {
  margin: 0;
  font-family: Calibri,serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F0F8FF;
}

header {
  height: 65px;
  background-color: white;
  border-bottom: #fbfcfc solid 2px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-items: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}